@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:link, a:visited, a:focus {
    color: inherit;
    text-decoration: none;
}

.flex-container {
    display: flex;
    align-items: center;
}

nav {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    margin-bottom: 30px;
}

nav a {
    padding: 20px;
}

nav h1 {
    margin: 0;
    font-size: 30px;
}

nav img {
    width: 60px;
    padding: 10px
}

.align-stretch {
    align-items: stretch;
}

form label {
    display: block;
    color: #a46f3e;
    font-size: 12px;
    font-variant: all-small-caps;
    margin: 10px 0 0 0;
}

form input[type="text"], form input[type="email"], form textarea  {
    width: 100%;
    resize: none;
    border: 1px solid #C9C9C9;
    padding: 3px 10px
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus  {
    outline: none;
}

form input[type="submit"]  {
    width: 100%;
    background-color: #a46f3e;
    color: #FFFFFF;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

form input[type="submit"]:focus  {
    outline: none;
}