<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <link rel="stylesheet" href="~/css/app.css"/>
    @RenderSection("styles", required: false)

    <link rel="icon" type="image/png" href="~/media/cupcake.png" />
    <title>@RenderSection("title", required: true) - Cake Shop</title>
  </head>
  <body>
      <nav>
          <div class="container">
              <div class="flex-container justify-content-between">
                  <div class="nav-right">
                      <div class="flex-container">
                          <a asp-controller="Home" asp-action="Index">
                              <h1>
                                  Cake
                                  <img src="~/media/cupcake.png" />
                                  Shop
                              </h1>
                          </a>
                          <a asp-controller="Home" asp-action="Index">Accueil</a>
                          <a asp-controller="Feedback" asp-action="Index">Feedback</a>
                          <a asp-controller="Account" asp-action="Index">Compte</a>
                      </div>
                  </div>

                  <div class="nav-left">
                      <a asp-controller="Home" asp-action="Index">S'inscrire</a>
                      <a asp-controller="Home" asp-action="Index">Se connecter</a>
                  </div>
              </div>
          </div>
      </nav>

      @RenderBody()

      @RenderSection("Scripts", required: false)
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>